# Required Python 3 packages for using the Batch SQL Translation exemplary Python client.
# To install: run `pip install -r requirements.txt` in the terminal

# google cloud packages.
google-cloud==0.34.0
google-cloud-storage==2.3.0
google-cloud-bigquery_migration==0.5.0
google-api-python-client==2.45.0

# protobuf
protobuf==3.20.1

# gRPC
grpcio==1.46.1

# PyYML package to parse yaml config files.
PyYAML==6.0
