<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="info"/>
	<logger name="org.springframework.jdbc.datasource" level="info" />
	<logger name="org.springframework" level="info"/>
	<logger name="com.zaxxer.hikari" level="info"/>
	<logger name="org.apache.hc.client5.http" level="info"/>
	<logger name="org.apache.http" level="info"/>
	<logger name="org.apache.hadoop" level="info"/>
	<logger name="com.amazonaws" level="info"/>
	<logger name="org.apache.commons.beanutils.converters" level="warn"/>

	<root level="${LOG_LEVEL:-debug}">
		<appender-ref ref="CONSOLE" />
	</root>

	<timestamp key="currentTime" datePattern="yyyy-MM-dd_HHmmss"/>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>progress.log.${currentTime}</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="progress-logger">
		<appender-ref ref="FILE" />
	</logger>

</configuration>
